 /* Smartphone */
@media screen and ( max-width:600px) {
    body{
        font-size: 65%
    }

    header{
        height: 10vmax;
        line-height: 10vmax;
        font-size: 1.2em
    }
    .slide_container, .work_slider, .slide, .slide_inside, #about_page{
        width: 100vw;
        height: calc(100vh - 10vmax); 
    }

    .slide_inside > img{
        width: 50%;
    }

    .arrow_prev{
        top: 50%
    }
    .arrow_next{
        top: 50%
    }
    
    #about_page{
        text-align: center;
        
    }
    #about_me h1{
        width:100%;
    }

    .role_descriptions > .desc_left{
        float: none;
        width:100%;
        margin-right: 0;
    }
    .role_descriptions > .desc_right{
        float: none;
        width:100%;
        margin-right: 0;
    }


} /* smartphone end   */








/* Tablet */
@media screen and (min-width:601px) and ( max-width:959px) {
    body{
        font-size: 80%
    }
    .slide_inside > img{
        width: 40%;
    }
}










/* Medium Desktop */
@media screen and (min-width:960px) and ( max-width:1280px) {
    
}
