@media all and (max-width:960px){
    
    #contents-wrap{
        font-size: 1.6em;
    }
    .sq-8{
        width: 14.28%;
    }
    .sq{
        padding-top: 14.28%;
    }
    .sq-8-2{
        width: 42.8%;
    }
    .disa-10-sq{
        display: none;
    }
}


@media all and (max-width:840px){
    #contents-wrap{
        font-size: 1.4em;
    }
    .sq-8{
        width: 16.66%;
    }
    .sq{
        padding-top: 16.66%;
    }
    .sq-8-2{
        width: 33.3%;
    }
    .disa-84-sq{
        display: none;
    }
    
}


@media all and (max-width:680px){
    #contents-wrap{
        font-size: 1.2em;
    }
    .sq-8{
        width: 20%;
    }
    .sq{
        padding-top: 20%;
    }
    .sq-8-2{
        width: 60%;
    }
    .disa-68-sq{
        display: none;
    }
    .row-hide{
        display: block;
    }
}


@media all and (max-width:520px){
    #contents-wrap{
        font-size: 0.8em;
    }
    #contents{
        padding: 0 20px;
    }


#menu-icon .hum-center{
    width: 30px;
    height: 3px;
    margin-top: -1.5px;
    left: 50%;
    margin-left: -15px;
}
#menu-icon:before{
    width: 30px;
    height: 3px;
    margin-top: -8.5px;
    left: 50%;
    margin-left: -15px;
}
#menu-icon:after{
    width: 30px;
    height: 3px;
    margin-top: 6.5px;
    left: 50%;
    margin-left: -15px;
}
.right-show:hover #menu-icon:before{
    -webkit-transform: translateX(10px) rotate(45deg);;
    -moz-transform: translateX(10px) rotate(45deg);
    transform: translateX(10px) rotate(45deg);
    width: 24px;
    margin-left: -20px
}
.right-show:hover #menu-icon:after{
    -webkit-transform: translateX(10px)rotate(-45deg);;
    -moz-transform:  translateX(10px)rotate(-45deg);;
    transform:  translateX(10px)rotate(-45deg);
    width: 24px;
    margin-left: -20px
} 
    
    
    .triangl{
        margin-top:-13px;
        margin-left: -10px;
        width: 20px;
        height: 20px;
        border-bottom: 5px solid #221E1D;
        border-right: 5px solid #221E1D;
    }
    
}