*, *:after, *:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

@font-face {
    font-family: 'GOTHAM';
    src: url("../font/Gotham-Book.otf");
  }
@font-face {
    font-family: 'GOTHAM-bold';
    src: url("../font/GOTHAM-BOLD.ttf");
  }
@font-face {
    font-family: 'GOTHAM-ultra';
    src: url("../font/GOTHAM-ULTRA.ttf");
}

.prevent_click{
    pointer-events: none;
}

body{
    background-color: #FFF;
    font-family: 'GOTHAM', Arial, sans-serif;
    font-size: 90%;
    width: 100%;
    height: 100%;
    color: #333;
    line-height: 1.5
}
a{
    color: #333;
    transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -webkit-transition: .2s;
    cursor: pointer;
}
a:hover{
    color: #EE465E;
}

#main_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.container{
    padding: 0 6vmax
}

#for_loading{
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: none
}

.spinner {
    width: 100px;
    height: 100px;
    display: none;
    position: relative;
    text-align: center;
	top: calc(50% - 50px);
	margin: 0 auto;

  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #EE465E;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }




h1, h2, h3{
    font-weight: bold;
    font-family: 'GOTHAM-bold'
}

/* ::::::::::::::::::::: about ::::::::::::::::: */
#about_page{
    z-index: 9999;
    width: calc(100vw - 12vmax);
    height: calc(100vh - 10vmax);
    position: absolute;
    right:-9999px;
    background-color: #FFF;
    overflow: hidden;
    font-size: 85%;
    display: none
}
#about_me{
    /* width: calc(100vw - 12vmax);
    height: calc(100vh - 10vmax); */
    background-color:#EE465E;
    display: none;
    height: 100%;
    padding: 4em 6em;
    overflow: auto;
    color: #fff;
}
#about_me  a{
    color: #fff;
}
#about_me  a:hover{
    color: #FEE25A
}

#about_me h1{
    font-size: 4em;
    border-bottom: 3px solid #fff;
    margin-bottom: .5em;
    width: 50%
}

#about_me p{
    margin-bottom: 2em
}
#about_me ul{
    margin-bottom: 1em
}
#about_me ul li{
    display: inline-block;
    margin-right:1em;
}
.sns_icons{
    font-size: 2em
}


/* ::::::::::::::::::::: header ::::::::::::::::: */

header{
    width: 100%;
    height: 5.5vmax;
    /* text-align: center; */
    line-height: 5.5vmax
}
.site_title{
    font-weight: bold;
    /* color: #EE465E */
}
.active{
    font-weight: bold;
    color: #EE465E;
    cursor: auto
}

.nav_left{
    float: left;
    width:50%;
    text-align: left
}
.nav_right{
    float: right;
    width:50%;
    text-align: right
}

.nav_right > ul >li{
    display:inline-block
}
.nav_right > ul >li:first-child{
    margin-right: 1em
}


/* ::::::::::::::::::::: Slider ::::::::::::::::: */

#content_wrapper{
    width: 100%;
    height: 100%;
}

#work_wrapper{
    width: 100%;
    height: 100%
}
.slide_container{
    width: calc(100vw - 12vmax);
    height: calc(100vh - 10vmax);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.work_slider{
    overflow: hidden;
    top:0;
    right:0;
    bottom: 0;
    left:0;
}
.slideset{
    position: absolute;
}
.work_slider, .slide{
    margin: 0 auto;
    width: calc(100vw - 12vmax);
    height: calc(100vh - 10vmax);
}

.slide{
    float:left;
    display: table;
    color: #FFF;
    background-color: #FEE25A;
    /* background-size: cover; */
    cursor: pointer
}

.slide_inside{
    text-align: center;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 3em
}
.slide_inside > img{
    width: 25%;
    min-width: 100px;
    max-width: 350px;
    /* height: 70%; */
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    margin: auto; 
}

.slide_inside > div{
    font-weight: bold;
    /* position: absolute;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0; */
}
.slide_inside > div > h2{
    font-size: 400%;
    font-family: 'GOTHAM-ultra';
}


.down_arrow{
    position: absolute;
    right: 50%;
    bottom: 4%;
    display: none; 
    padding-top: 50px;
    z-index: 2
}
.down_arrow span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  





.page_navs{
    position: absolute;
}
.arrow_prev{
    left: 3%;
    transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -webkit-transition: .2s;
}
.arrow_next{
    right: 3%;
    transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -webkit-transition: .2s;
}
.arrow_next:hover{
    right: 2.8%
}
.arrow_prev:hover{
    left: 2.8%
}


/* footer{
    width: 100%;
    height: 4.5vmax;
    position: relative
} */
/* footer > ul > li{
    display: inline-block;
} */

/* .arrows{
    width: 30%;
}
#slide_nav{
    width: 70%
} */

#slide_nav{
    right: 50%;
    bottom: -2em
}

#slide_nav > ul > li{
    cursor: pointer;
    display: inline-block;
}

/* ::::::::::::::::::::: Work Contents ::::::::::::::::: */

hr{
    width: 50%;
    margin: 0 auto;
    color: #ececec
}

.work_container{
    padding: 8vmax 6vmax 12vmax 6vmax;
}
.company_desc{
    width: 70%;
    margin: 0 auto 3em auto;
}

.role_descriptions{
    /* text-align: center; */
    border: 2px solid #ececec;
    padding: 3em;
    margin-bottom: 4em
}
.role_descriptions > h2{
    margin-bottom: .5em
}

.role_descriptions > .desc_left{
    float: left;
    width:45%;
    margin-right: 10%;
}
.role_descriptions > .desc_right{
    float: left;
    width:45%;
}

.website_link{
    text-align: center;
    
}
.website_link a{
    border: 2px solid #EE465E;
    padding: 1em;
    color: #EE465E;
}
.website_link a:hover{
    background-color: #EE465E;
    color: #fff;
}

.work_images_container{
    margin: 6em auto;
    text-align: center;
}

.work_images{
    width: 100%;
    margin: 0 auto
}


.work_images_container ul li img{
    width: 50%;
    padding: 2em;
    /* max-width: 300px; */
    display: inline-block;
    float: left
}

.grey_bg_works{
    background-color: #ececec;
    width: 100%;
    padding: 2em
}

.work_image{
    width:80%;
}

.full_img{
    padding: 0;
}
.full_img > img{
    width: 100%;
    height: 100%;
}
.close_work{
    width: 6.5vmax;
    height: 6.5vmax;
    position: fixed;
    bottom: 4%;
    left: 50%;
    background-color:#EE465E;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-left: -3.25vmax;
    border-radius: 4.5vmax;
    opacity:.8;
    display: none;
    transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -webkit-transition: .2s;
}
.close_work:hover{
    opacity: 1
}

.close_work > span{
    width: 6.5vmax;
    height: 6.5vmax;
    display: block;
    color: #FFF;
    font-size: 2em;
    line-height: 6.5vmax;
    cursor: pointer
}